<div class="pokemon-list">
  <mat-card class="pokemon-card">
    <mat-card-header>
      <mat-card-title class="pokemon-font pokemon-name">Pikachu</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" />
    <mat-card-footer class="pokemon-type electric pokemon-font">
      ELEKTRYCZNY
    </mat-card-footer>
  </mat-card>

  <mat-card class="pokemon-card">
    <mat-card-header>
      <mat-card-title class="pokemon-font pokemon-name">Bulbasaur</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" />
    <mat-card-footer class="pokemon-type grass pokemon-font">
      TRAWIASTY
    </mat-card-footer>
  </mat-card>

  <mat-card class="pokemon-card">
    <mat-card-header>
      <mat-card-title class="pokemon-font pokemon-name">Charmander</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" />
    <mat-card-footer class="pokemon-type fire pokemon-font">
      OGNISTY
    </mat-card-footer>
  </mat-card>
</div>
