<mat-toolbar color="primary">
  <h3 class="old-school-font">pokemonpedia</h3>
</mat-toolbar>

<div class="pokemon-list">
  <mat-card class="pokemon-card">
    <mat-card-header>
      <mat-card-title class="old-school-font medium">Pikachu</mat-card-title>
    </mat-card-header>
    <div class="pokemon-image-container">
      <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" />
    </div>
    <mat-card-footer class="solid-footer electric old-school-font">
      ELEKTRYCZNY
    </mat-card-footer>
  </mat-card>

  <mat-card class="pokemon-card">
    <mat-card-header>
      <mat-card-title class="old-school-font medium">Bulbasaur</mat-card-title>
    </mat-card-header>
    <div class="pokemon-image-container">
      <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" />
    </div>
    <mat-card-footer class="solid-footer grass old-school-font">
      TRAWIASTY
    </mat-card-footer>
  </mat-card>

  <mat-card class="pokemon-card">
    <mat-card-header>
      <mat-card-title class="old-school-font medium">Charmander</mat-card-title>
    </mat-card-header>
    <div class="pokemon-image-container">
      <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" />
    </div>
    <mat-card-footer class="solid-footer fire old-school-font">
      Ognisty
    </mat-card-footer>
  </mat-card>
</div>
