.pokemon-card {
  width: 10em;
  margin: 10px;
}

.pokemon-name {
  font-size: 15px;
}

.pokemon-type {
  text-align: center;
  font-size: 0.75em;
  color: white;
  padding: 5px;
}

.normal {
  background-color: #a8a77a;
}
.fire {
  background-color: #f08030;
}
.water {
  background-color: #6390f0;
}
.electric {
  background-color: #f8d030;
}
.grass {
  background-color: #78c850;
}
.ice {
  background-color: #96d9d6;
}
.fighting {
  background-color: #c22e28;
}
.poison {
  background-color: #a33ea1;
}
.ground {
  background-color: #e2bf65;
}
.flying {
  background-color: #a98ff3;
}
.psychic {
  background-color: #f95587;
}
.bug {
  background-color: #a6b91a;
}
.rock {
  background-color: #b6a136;
}
.ghost {
  background-color: #735797;
}
.dragon {
  background-color: #6f35fc;
}
.dark {
  background-color: #705746;
}
.steel {
  background-color: #b7b7ce;
}
.fairy {
  background-color: #d685ad;
}
