<mat-card
  class="pokemon-card clickable"
  *ngIf="pokemon && pokemon.name"
  routerLink="/pokemons/details/{{ pokemon.name }}"
>
  <mat-card-header>
    <mat-card-title class="pokemon-font pokemon-name">{{
      pokemon.name
    }}</mat-card-title>
  </mat-card-header>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <img
    mat-card-image
    [src]="pokemon.imageUrl || defaultImageSrc"
    (load)="imageLoaded()"
  />
  <mat-card-footer class="pokemon-type pokemon-font" [ngClass]="pokemon.type">
    {{ pokemon.polishType }}
  </mat-card-footer>
</mat-card>
