/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

mat-card-title.pokemon-font,
mat-card-footer.pokemon-font,
h3.pokemon-font,
label.pokemon-font {
  font-family: "Press Start 2P", cursive;
}

.pokemon-card {
  width: 12em;
  margin: 10px;
}

.pokemon-name {
  font-size: 15px;
}
.mat-spinner {
  margin: auto;
}
