<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card class="pokemon-card centered" *ngIf="pokemonExists && !isLoading">
  <mat-card-header>
    <mat-card-title class="pokemon-font pokemon-name">{{
      pokemon.name
    }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="pokemon.imageUrl || defaultImageSrc"
    (load)="imageLoaded()"
  />
  <mat-card-content class="pokemon-font">
    <h3>statystyki</h3>
    <table class="stats-table">
      <tr *ngFor="let stat of pokemon.stats">
        <td>{{ stat.name }}</td>
        <td>{{ stat.value }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card
  class="centered pokemon-font not-found-card"
  *ngIf="!pokemonExists && !isLoading"
>
  NIESTETY NIE ZNALEZIONO POKEMONA O NAZWIE: {{ inputPokemonName }}
</mat-card>
