.centered {
  margin: 20px auto;
}

.not-found-card {
  width: 500px;
}

.stats-table td {
  padding: 5px;
  margin: 0;
  border: 0;
}

.stats-table tr:nth-child(even) {
  background: #d8d8d8;
}

mat-card {
  width: 400px;
}
