<mat-card class="pokemon-card centered" *ngIf="pokemonExists">
  <mat-card-header>
    <mat-card-title class="pokemon-font pokemon-name">{{
      pokemon.name
    }}</mat-card-title>
  </mat-card-header>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <img
    mat-card-image
    [src]="pokemon.imageUrl || defaultImageSrc"
    (load)="imageLoaded()"
  />
</mat-card>

<mat-card class="centered pokemon-font not-found-card" *ngIf="!pokemonExists">
  NIESTETY NIE ZNALEZIONO POKEMONA O NAZWIE: {{ inputPokemonName }}
</mat-card>
